<div style="text-align: center; padding-bottom: 20px; border-bottom: 1px solid #eee;">
    <img alt="Gally Logo" src="{{ absolute_url(asset('gally-logo.svg')) }}" width="150" height="45" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;text-decoration:none;max-width:100%;font-size:16px" width="250" align="middle" >
</div>
