
imports:
    - { resource: conversion/sourcefield_to_mapping.yaml }

services:
    Gally\Index\Repository\Index\IndexRepositoryInterface: '@Gally\Index\Repository\Index\IndexRepository'
    Gally\Index\Repository\Index\IndexRepository:
        arguments:
            - '@OpenSearch\Client'
            - '@Gally\Index\Api\IndexSettingsInterface'

    Gally\Index\Repository\Document\DocumentRepositoryInterface: '@Gally\Index\Repository\Document\DocumentRepository'
    Gally\Index\Repository\Document\DocumentRepository:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepository'
            - '@Gally\Index\Repository\DataStream\DataStreamRepository'

    Gally\Index\Repository\IndexStateManagement\IndexStateManagementRepositoryInterface: '@Gally\Index\Repository\IndexStateManagement\IndexStateManagementRepository'
    Gally\Index\Repository\IndexStateManagement\IndexStateManagementRepository:
        arguments:
            - '@OpenSearch\Client'
            - '@Gally\Index\Api\IndexSettingsInterface'
            - '@logger'

    Gally\Index\Repository\IndexTemplate\IndexTemplateRepositoryInterface: '@Gally\Index\Repository\IndexTemplate\IndexTemplateRepository'
    Gally\Index\Repository\IndexTemplate\IndexTemplateRepository:
        arguments:
            - '@OpenSearch\Client'
            - '@Gally\Index\Api\IndexSettingsInterface'
            - '@Gally\Index\Service\MetadataManager'
            - '@logger'

    Gally\Index\Repository\DataStream\DataStreamRepositoryInterface: '@Gally\Index\Repository\DataStream\DataStreamRepository'
    Gally\Index\Repository\DataStream\DataStreamRepository:
        arguments:
            - '@OpenSearch\Client'
            - '@Gally\Index\Api\IndexSettingsInterface'
            - '@Gally\Index\Repository\IndexTemplate\IndexTemplateRepositoryInterface'
            - '@Gally\Index\Repository\IndexStateManagement\IndexStateManagementRepositoryInterface'
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
            - '@logger'

    Gally\Index\State\DocumentProcessor:
        arguments:
            - '@Gally\Index\Repository\Document\DocumentRepositoryInterface'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\State\IndexProcessor:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\State\IndexProvider:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.state_provider }
            - { name: api_platform.collection_data_provider }

    Gally\Index\State\DataStreamProvider:
        arguments:
            - '@Gally\Index\Repository\DataStream\DataStreamRepositoryInterface'
        tags:
            - { name: api_platform.state_provider }
            - { name: api_platform.collection_data_provider }

    Gally\Index\State\DataStreamProcessor:
        arguments:
            - '@Gally\Index\Repository\DataStream\DataStreamRepositoryInterface'
        tags:
            - { name: api_platform.state_processor }
    
    Gally\Index\State\CreateDataStreamProcessor:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Repository\DataStream\DataStreamRepositoryInterface'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\Service\MetadataManager:
        arguments:
            - '@Gally\Metadata\Repository\SourceFieldRepository'
            - !tagged_iterator { tag: 'gally.mapping.source_field_converter' }

    Gally\Index\Api\IndexSettingsInterface: '@Gally\Index\Service\IndexSettings'
    Gally\Index\Service\IndexSettings:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Analysis\Service\Config'
            - '@Gally\Configuration\Service\ConfigurationManager'
            - '@Gally\Metadata\Repository\SourceFieldRepository'
            - '@Gally\Search\Repository\Ingest\PipelineRepositoryInterface'

    Gally\Index\Service\IndexOperation:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
            - '@Gally\Index\Api\IndexSettingsInterface'
            - '@Gally\Index\Service\MetadataManager'

    Gally\Index\Service\SelfReindexOperation:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Index\Service\IndexOperation'
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
            - '@Gally\Search\Elasticsearch\Request\Container\Configuration\ContainerConfigurationProvider'
            - '@logger'

    Gally\Index\MutationResolver\CreateIndexMutation:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Service\IndexOperation'
            - '@logger'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\BulkIndexMutation:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\BulkDeleteIndexMutation:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\InstallIndexMutation:
        arguments:
            - '@Gally\Index\Service\IndexOperation'
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\RefreshIndexMutation:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\SelfReindexMutation:
        arguments:
            - '@Gally\Index\Service\SelfReindexOperation'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\MutationResolver\CreateDataStreamMutation:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Repository\DataStream\DataStreamRepositoryInterface'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Index\State\CreateIndexProcessor:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Service\IndexOperation'
            - '@logger'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\State\InstallIndexProcessor:
        arguments:
            - '@Gally\Index\Service\IndexOperation'
            - '@Gally\Index\Repository\Index\IndexRepository'
            - '@api_platform.serializer'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\State\RefreshIndexProcessor:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
            - '@api_platform.serializer'    
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\State\SelfReIndexProcessor:
        arguments:
            - '@Gally\Index\Service\SelfReindexOperation'
        tags:
            - { name: api_platform.state_processor }

    Gally\Index\Command\IndexClearCommand:
        arguments:
            - '@Gally\Index\Repository\Index\IndexRepositoryInterface'
            - null
        tags:
            - { name: console.command }

    Gally\Index\Command\MappingGenerateCommand:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Service\MetadataManager'
            - 'gally:mapping:get'
        tags:
            - { name: console.command }

    Gally\Index\Command\MappingStatusCommand:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Service\MetadataManager'
            - 'gally:mapping:status'
        tags:
            - { name: console.command }           
    
    Gally\Index\State\MappingStatusProvider:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Index\Service\MetadataManager'
        tags:
            - { name: api_platform.state_provider }
            - { name: api_platform.graphql.resolver }

    Gally\Index\OpenApi\IndexDecorator:
        decorates: api_platform.openapi.factory
        arguments:
            - '@Gally\OpenApi\Helper\Documentation'
            - '@.inner'
                
    Gally\Index\Controller\RemoveIndexDocument:
        arguments:
            - '@Gally\Index\Repository\Document\DocumentRepositoryInterface'
        calls:
            - [ setContainer, [ '@service_container' ] ]
        tags:
            - { name: controller.service_arguments }

    Gally\Index\EventSubscriber\CleanMetadataCache:
        arguments:
            - '@Gally\Index\Service\MetadataManager'
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: postUpdate }

    Gally\Index\EventSubscriber\UpdateISMConfiguration:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Index\Repository\IndexStateManagement\IndexStateManagementRepositoryInterface'
            - '@Gally\Index\Api\IndexSettingsInterface'
            - '@logger'
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postFlush }
            - { name: kernel.cache_warmer }

    Gally\Index\EventSubscriber\UpdateIndexTemplateMapping:
        arguments:
            - '@Gally\Index\Service\MetadataManager'
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Index\Repository\IndexTemplate\IndexTemplateRepositoryInterface'
            - '@logger'
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postFlush }
