{% extends '@GallyBundle/emails/template/base.html.twig' %}

{% block subject %}{{ subject }}{% endblock %}

{% block body %}
    <p>{{ first_name|capitalize }} {{ last_name|upper }},</p>

    <p>We have received a request to create or change the password for your account. If you did indeed make this request, please click to <a style="color:rgb(0, 164, 189);" href="{{ token_url }}">reset your password</a>.</p>

    <p>If you did not make this request, you can ignore this email and your password will remain unchanged.</p>

    <p>Thank you,</p>
{% endblock %}
