{% extends '@GallyBundle/emails/template/base.html.twig' %}

{% block subject %}Bienvenue chez Mon Application{% endblock %}

{% block body %}
    <p>Bonjour,</p>

    <p>Vous pouvez reset votre password en cliquant sur ce lien <a href="#">{{ password_token }}</a></p>

    <p>Merci et à bientôt !</p>
{% endblock %}
