services:
    Gally\Tracker\State\TrackingEventProcessor:
        arguments:
            - '@messenger.default_bus'
            - '@Gally\Metadata\Service\PriceGroupProvider'
        tags:
            - { name: api_platform.state_processor }
        
    Gally\Tracker\MessageHandler\TrackingEventHandler:
        arguments:
            - '@Gally\Index\Repository\DataStream\DataStreamRepositoryInterface'
            - '@Gally\Metadata\Repository\MetadataRepository'
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@api_platform.validator'
        tags:
            - { name: messenger.message_handler }

    Gally\Tracker\Validator\MetadataValidator:
        arguments:
            - '@Gally\Metadata\Repository\MetadataRepository'
        tags:
            - { name: validator.constraint_validator }

    Gally\Tracker\Validator\LocalizedCatalogCodeValidator:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
        tags:
            - { name: validator.constraint_validator }

    Gally\Tracker\Validator\EventCategoryViewValidator:
        tags:
            - { name: validator.constraint_validator }


    Gally\Tracker\Validator\EventProductDisplayValidator:
        tags:
            - { name: validator.constraint_validator }


    Gally\Tracker\Validator\EventSearchResultValidator:
        tags:
            - { name: validator.constraint_validator }

    Gally\Tracker\Validator\EventProductViewValidator:
        tags:
            - { name: validator.constraint_validator }

    Gally\Tracker\Validator\EventAddToCartValidator:
        tags:
            - { name: validator.constraint_validator }

    Gally\Tracker\Validator\EventOrderValidator:
        tags:
            - { name: validator.constraint_validator }
