api_platform:
    title: Gally API
    version: 2.2.1
    show_webby: false
    formats:
        jsonld: [ 'application/ld+json' ]
        json: [ 'application/json' ]
        multipart: [ 'multipart/form-data' ]
        csv: [ 'text/csv' ]
    docs_formats:
        jsonld: [ 'application/ld+json' ]
        jsonopenapi: [ 'application/vnd.openapi+json' ]
        html: [ 'text/html' ]
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
        swagger_ui_extra_configuration:
            tagsSorter: alpha
            operationsSorter: alpha
    serializer:
        hydra_prefix: true
    exception_to_status:
        # The 4 following handlers are registered by default, keep those lines to prevent unexpected side effects
        Symfony\Component\Serializer\Exception\ExceptionInterface: 400 # Use a raw status code (recommended)
        Symfony\Component\Routing\Exception\ResourceNotFoundException: 405
        # ApiPlatform\Core\Exception\InvalidArgumentException: !php/const Symfony\Component\HttpFoundation\Response::HTTP_BAD_REQUEST
        ApiPlatform\Metadata\Exception\InvalidArgumentException: !php/const Symfony\Component\HttpFoundation\Response::HTTP_BAD_REQUEST
        ApiPlatform\ParameterValidator\Exception\ValidationException: 400
        Doctrine\ORM\OptimisticLockException: 409
        # Validation exception
        ApiPlatform\Validator\Exception\ValidationException: !php/const Symfony\Component\HttpFoundation\Response::HTTP_UNPROCESSABLE_ENTITY
        
    # Good defaults for REST APIs
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
            max_age: 0
            shared_max_age: 3600
        extra_properties:
            standard_put: true
        pagination_client_enabled: true # Enabled by default because this value cannot be specified by GraphQL endpoint 
        pagination_client_items_per_page: true # Enabled by default because this value cannot be specified by GraphQL endpoint
        pagination_items_per_page: 20
        normalization_context:
            skip_null_values: false
    collection:
        pagination:
            page_parameter_name: currentPage
            items_per_page_parameter_name: pageSize
    # change this to true if you use controllers
    use_symfony_listeners: true 
    http_cache:
        public: true
    graphql:
        nesting_separator: __
