services:
    Gally\Configuration\Service\ConfigurationManager:
        arguments:
            - '@Gally\Configuration\Repository\ConfigurationRepository'
            - '@kernel'
            - '@parameter_bag'
            - '@Gally\Cache\Service\CacheManager'
    
    Gally\Configuration\Service\ConfigurationTreeBuilder:
        arguments:
            - '%gally.configuration%'
            - '@Symfony\Contracts\Translation\TranslatorInterface'
    
    Gally\Configuration\Repository\ConfigurationRepository:
        arguments:
            - '@Doctrine\Persistence\ManagerRegistry'
        tags:
            - { name: doctrine.repository_service }
    
    Gally\Configuration\State\ConfigurationProvider:
        arguments:
            - '@Gally\Configuration\Service\ConfigurationManager'
            - '@api_platform.doctrine.orm.state.item_provider'
        tags:
            - { name: api_platform.state_provider }
            - { name: doctrine.repository_service }
    
    Gally\Configuration\State\PublicConfigurationProvider:
        arguments:
            - '@Gally\Configuration\State\ConfigurationProvider'
        tags:
            - { name: api_platform.state_provider }
    
    Gally\Configuration\State\ConfigurationProcessor:
        arguments:
            - '@api_platform.doctrine.orm.state.persist_processor'
            - '@api_platform.doctrine.orm.state.remove_processor'
            - '@Gally\Configuration\Validator\ConfigurationDataValidator'
            - '@Gally\Configuration\Repository\ConfigurationRepository'
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: api_platform.state_processor }
    
    Gally\Configuration\Validator\ConfigurationDataValidator:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Gally\Search\Elasticsearch\Request\Container\Configuration\ContainerConfigurationProvider'
            - '@Gally\Configuration\Repository\ConfigurationRepository'
    
    Gally\Configuration\Controller\BulkConfigurations:
        arguments:
            - '@Gally\Configuration\State\ConfigurationProcessor'
        calls:
            - [ setContainer, [ '@service_container' ] ]
        tags:
            - { name: controller.service_arguments }
    
    Gally\Configuration\Controller\ConfigurationTreeController:
        arguments:
            - '@Gally\Configuration\Service\ConfigurationTreeBuilder'
        calls:
            - [ setContainer, [ '@service_container' ] ]
        tags:
            - { name: controller.service_arguments }
    
    Gally\Configuration\Resolver\ConfigurationTreeResolver:
        arguments:
            - '@Gally\Configuration\Service\ConfigurationTreeBuilder'
        tags:
            - { name: api_platform.graphql.resolver }

    Gally\Configuration\Service\BaseUrlProvider:
        arguments:
            - '@Gally\Configuration\Service\ConfigurationManager'

    Gally\Configuration\State\Source\LanguageOptionProvider:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Symfony\Contracts\Translation\TranslatorInterface'
        tags:
            - { name: api_platform.state_provider }
    
    Gally\Configuration\State\Source\LocaleGroupOptionProvider:
        arguments:
            - '@Gally\Catalog\Repository\LocalizedCatalogRepository'
            - '@Symfony\Contracts\Translation\TranslatorInterface'
        tags:
            - { name: api_platform.state_provider }

    Gally\Configuration\State\Source\LocalizedCatalogGroupOptionProvider:
        arguments:
            - '@Gally\Catalog\Repository\CatalogRepository'
            - '@api_platform.iri_converter'
            - '@Symfony\Contracts\Translation\TranslatorInterface'
        tags:
            - { name: api_platform.state_provider }

    Gally\Configuration\State\Source\RequestTypeOptionProvider:
        arguments:
            - '@Gally\Search\Elasticsearch\Request\Container\Configuration\ContainerConfigurationProvider'
            - '@api_platform.doctrine.orm.state.item_provider'
            - '@Symfony\Contracts\Translation\TranslatorInterface'
        tags:
            - { name: api_platform.state_provider }
